<html lang="ko">
<body class="flex flex-col items-center justify-start h-screen">
<div th:replace="import::head"></div>
<div th:replace="header::div"></div>

<div id="bid-list-app">
    <!--  채팅 박스  -->
    <div class="flex flex-col h-[800px] w-7/12 w-[550px] mt-6" id="app">
        <div class="text-3xl my-3 font-semibold" v-if="username !== sellerName && itemStatus == '경매중'">입찰하기</div>

        <!-- 입찰하기 -->
        <form id="bidForm" class="flex justify-between" v-if="username !== sellerName && itemStatus == '경매중'">
            <div class="flex items-start justify-center ">
                <!--       입찰 폼       -->
                <div class="flex items-baseline ">
                    <input type="hidden" id="itemId" name="itemId" th:value="${itemId}">
                    <input type="number" step="100" id="itemPrice" name="itemPrice" class="w-80 font-semibold"
                           v-model="bidPriceInput" placeholder="입찰할 가격을 입력해주세요.(단위 100원)">
                </div>
            </div>
            <!--     입찰버튼       -->
            <div class="inline-block  text-indigo-400 font-bold ml-auto truncate items-center justify-center">
                <button type="button" id="submit" class="flex hover:bg-zinc-200 items-center mr-1"
                        v-on:click="submitPrice">입찰
                </button>
            </div>
        </form>
        <div v-if="sellerName !== username && itemStatus == '경매중'">
            <div class="border border-inherit mb-5"></div>
        </div>
        <div class="flex">
            <div class="text-3xl my-2 font-semibold">입찰 내역</div>
            <div v-if="username == sellerName && itemStatus == '경매중'" class="flex items-center ml-auto" >
                <a class="border-solid border-[1px] px-2 py-1 border-indigo-400 bg-indigo-400  hover:bg-indigo-600 rounded-md text-white"
                   th:href="'/item/sale?itemId=' + ${itemId}">판매완료
                </a>
            </div>
        </div>
        <!--     상단 아이템       -->
        <div class="flex m-2">
            <div class="w-[100px] h-[100px] truncate rounded-lg">
                <!--                <img src="http://localhost:8080/api/v1/image/item/banana.jpg">-->
                <img :src="imageUrl">
            </div>
            <div class="flex flex-col justify-center ml-2">
                <div class="flex justify-start items-center mt-1">
                    <div class="text-xl  font-bold"> {{ itemTitle }}</div>
                    <div v-if="itemStatus === '경매종료' || itemStatus === '판매완료'" class="text-base  rounded-md bg-gray-300  mx-2 px-1 py-1">경매종료</div>
                </div>


                <div class="text-sm text-indigo-400">희망금액 {{ desiredPrice }} 원</div>
                <div v-if="itemStatus === '경매중'"> {{ expireAt }}</div>
            </div>

            <div class="flex flex-col justify-center ml-2 ml-auto">
                <div v-if="maxPrice !== null">
                    <div class="text-indigo-400 font-bold">최고가 ₩ {{ maxPrice }}</div>
                </div>
                <div v-if="avgPrice !== null">
                    <div class="text-indigo-400 font-bold">평균가 ₩ {{ avgPrice }}</div>
                </div>
                <div v-if="minPrice !== null">
                    <div class="text-indigo-400 font-bold">최저가 ₩ {{ minPrice }}</div>
                </div>
            </div>
        </div>

        <!--   가로선   -->
        <div class="border border-inherit mt-4"></div>
        <div class="flex justify-start h-5/6 w-full">
            <!--   세로선 시작선    -->
            <div class="border border-inherit h-full"></div>
            <!--   채팅방     -->
            <div class="flex flex-col justify-between w-full overflow-y-scroll">


                <div class="flex flex-col">
                    <div v-for="(bid, index) in bidHistory" :key="index">
                        <button class="flex px-3 py-5 hover:bg-zinc-200 w-[550px] justify-between items-center">
                            <!--      이모티콘      -->
                            <div class="flex items-center">
                                <div class="flex-none inline-block text-4xl grow-0 mx-2">🙌</div>
                                <!--      메시지, 시간      -->
                                <div class="flex flex-col  items-start  ml-2">
                                    <!--       알림 메시지       -->
                                    <div class="flex items-baseline ">
                                        <div class="font-semibold truncate">
                                            {{ bid.bidderName }}님이 {{ bid.bidPrice }}원을 제시하였습니다.
                                        </div>
                                    </div>
                                    <!--       알림 시간       -->
                                    <div class="truncate text-sm text-zinc-700">{{ bid.createdDate }}</div>
                                </div>
                            </div>
                            <div v-if="username === sellerName && itemStatus === '경매중'" class="items-center  mr-2" >
                                <a class="border-solid border-[1px] px-2 py-1 border-indigo-400 bg-indigo-400  hover:bg-indigo-600 rounded-md text-white"
                                   v-on:click="handleChat(bid.bidderName)">채팅하기
                                </a>
                            </div>
                        </button>
                    </div>
                    <!--     채팅방 아이템     -->
                </div>
            </div>

            <!--   세로선 채팅방 오른쪽     -->
            <div class="border border-inherit"></div>

            <!--   세로선 채팅창 오른쪽     -->
            <div class="border border-inherit"></div>
        </div>
        <div class="border border-inherit"></div>
    </div>
    <div class="mb-10"></div>
</div>
<script>
    new Vue({
        el: '#bid-list-app',
        data: {
            username: '',
            itemId: 0,
            bidPriceInput: '',
            bidHistory: [],
            desiredPrice: 0,
            maxPrice: 0,
            minPrice: 0,
            avgPrice: 0,
            itemTitle: '',
            sellerName: '',
            expireAt: '',
            imageUrl: '',
            itemStatus: ''
        },
        created() {
            this.username = localStorage.getItem('username');
            this.itemId = parseInt($('#itemId').val());
            this.updateData();
        },
        methods: {
            updateData() {
                axios.get('/api/v1/bid/list?itemId=' + this.itemId)
                    .then(response => {
                        this.bidHistory = [];
                        this.bidHistory = response.data.bids;
                        this.desiredPrice = response.data.bidDetails.desiredPrice;
                        this.maxPrice = response.data.bidDetails.maxPrice;
                        this.minPrice = response.data.bidDetails.minPrice;
                        this.avgPrice = response.data.bidDetails.avgPrice;
                        this.itemTitle = response.data.bidDetails.itemTitle;
                        this.sellerName = response.data.bidDetails.sellerName;
                        this.expireAt = response.data.bidDetails.expireAt;
                        this.itemStatus = response.data.bidDetails.itemStatus;
                        this.imageUrl = 'http://localhost:8080/api/v1/image/item/' + response.data.bidDetails.imgName;
                    }).catch();
            },
            submitPrice() {
                if (this.bidPriceInput < 100) {
                    alert("최소 100원부터 가능합니다.");
                    return;
                }
                axios.get('/api/v1/bid-ids', {
                    auth: {
                        username: this.username,
                        password: ''
                    }
                }).then(response => {
                    const itemIds = response.data;
                    if (!itemIds.includes(this.itemId)) {
                        this.connect(this.itemId);
                    }
                }).catch(error => console.log(error));

                axios.post('/api/v1/bid', {
                    auth: {
                        username: this.username,
                        password: ''
                    },
                    itemId: this.itemId,
                    itemPrice: this.bidPriceInput
                }).then(response => {
                    this.updateData();
                    alert("입찰을 완료했습니다.");
                }).catch(error => {
                    console.log(error)
                });
            },
            connect() {
                socket = new SockJS("/ws-stomp");
                ws = Stomp.over(socket);
                ws.connect({}, (frame) => {
                    ws.subscribe("/sub/item/bidder/notification/" + this.itemId,
                        (message) => {});
                }, (error) => {
                    console.log(error)
                });
            },
            handleChat(bidderName) {
                axios.post('/api/v1/chat-room', {
                    buyerName: bidderName,
                    itemId: this.itemId
                }).then(response => {
                    window.location.href = 'http://localhost:8080' + response.data;
                }).catch(error => console.log(error));
            }
        }
    })

</script>
</body>

</html>