<!DOCTYPE html>
<html lang="ko">
<div th:replace="import::head"></div>
<body class="flex flex-col items-center justify-start h-screen">
<div th:replace="header::div"></div>
<!--  상품 등록  -->
<div class="flex flex-col h-[1000px] w-7/12 w-[900px] mt-6" id="app">
        <form role="form" method="post" autocomplete="off">
                <div class="text-3xl my-2 font-semibold">상품 등록</div>
                <!--  제목 입력  -->
                <div class="flex m-10 border-b border-indigo-200">
                        <input type="text" size=50 maxlength=30 placeholder="제목을 입력해주세요">
                </div>
                <!--  가격 입력  -->
                <div class="flex m-10 border-b border-indigo-200">
                        <input type="text" size=50 placeholder="최소 희망 판매가격을 입력해주세요">
                </div>
                <!--  경매 기간 입력  -->
                <div class="flex m-10 border-b border-indigo-200">
                        <p>경매 기간을 선택해 주세요     </p>
                        <!-- 라벨을 클릭하면 라벨의 하위요소인 버튼(체크,라디오,일반 등)이 클릭되는 효과) -->
                        <div class="flex justify-center gap-4">
                                <label class="flex gap-2 items-center cursor-pointer">
                                        <input type="radio" name="period" value="3" class="radio peer">
                                        <span class="text-gray-400 peer-checked:text-gray-900 peer-checked:font-bold peer-focus:text-gray-700">
                                <i class="fa-solid fa-person-rays"></i>
                                3일
                            </span>
                                </label>

                                <label class="flex gap-2 items-center cursor-pointer">
                                        <input type="radio" name="period" value="5" class="radio peer">
                                        <span class="text-gray-400 peer-checked:text-gray-900 peer-checked:font-bold peer-focus:text-gray-700">
                                <i class="fa-regular fa-face-smile"></i>
                                5일
                            </span>
                                </label>

                                <label class="flex gap-2 items-center cursor-pointer">
                                        <input type="radio" name="period" value="7" class="radio peer">
                                        <span class="text-gray-400 peer-checked:text-gray-900 peer-checked:font-bold peer-focus:text-gray-700">
                                <i class="fa-solid fa-people-roof"></i>
                                7일
                            </span>
                                </label>
                        </div>
                </div>
                <!--  거래 가능 지역 입력  -->
                <div class="flex m-10 border-b border-indigo-200">
                        <input type="text" size=50 placeholder="거래 가능 지역을 입력해주세요">
                </div>
                <!--  이미지 등록  -->
                <div class="flex m-10 border-b border-indigo-200">
                        <input type="file" size=50 class="custom-file-input" name="itemImgFile">
                </div>
                <!--  설명 입력  -->
                <div class="flex m-10 border-b border-indigo-200">
                        <textarea class="" rows="15" cols="100" id="des" name="des" placeholder="상품을 자세히 설명해주세요"></textarea>
                </div>
                <!--  등록 버튼  -->
                <div class="justify-end flex mb-10 mr-10 ">
                        <button class="py-2 px-8 rounded-lg bg-blue-300 border border-slate-300 hover:border-indigo-300" type="submit" id="register_Btn">작성완료</button>
                </div>

        </form>
</div>
</body>
</html>