<!DOCTYPE html>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
<head>
    <style>
        .filebox .upload-name {
            display: inline-block;
            height: 40px;
            padding: 0 10px;
            vertical-align: middle;
            border: 1px solid #dddddd;
            border-radius: 0.5rem;
            width: 472px;
            color: #999999;
        }
        .filebox input[type="file"] {
            position: absolute;
            width: 0;
            height: 0;
            padding: 0;
            overflow: hidden;
            border: 0;
        }
    </style>
</head>
<div th:replace="import::head"></div>
<body>
<div th:replace="header::div"></div>
<div class="flex flex-col items-center justify-start h-screen overflow-y-auto ">
    <div class="w-[600px]" id="create-form">
        <!--  상품 등록  -->
        <div class="flex flex-col mt-20 mx-4" id="app">
            <div class="mb-2 text-xl font-bold">상품 등록</div>
            <!--  제목 입력  -->
            <div class="mt-10 font-semibold">제목</div>
            <div class="flex mt-2 p-1 border border-gray-400 rounded-lg">
                <input type="text" id="title" name="title" class="form-control w-full h-[40px] p-1"
                       v-model="title"
                       maxlength=30 placeholder="제목을 입력해주세요">
            </div>
            <!--  가격 입력  -->
            <div class="mt-10 font-semibold">가격</div>
            <div class="flex mt-2 p-1 border border-gray-400 rounded-lg">
                <input type="number" id="price" name="price" class="form-control w-full h-[40px] p-1"
                       step="100" v-model="minimumPrice"
                       placeholder="최소 희망 가격 (백원 단위)">
            </div>
            <!--  경매 기간 입력  -->
            <div class="mt-10 font-semibold">경매기간</div>
            <div class="flex flex-col h-[50px] mt-2 p-1 border border-gray-400 rounded-lg">
                <!-- 라벨을 클릭하면 라벨의 하위요소인 버튼(체크,라디오,일반 등)이 클릭되는 효과) -->
                <div class="flex justify-start gap-4 m-2">
                    <label class="flex gap-2 items-center cursor-pointer">
                        <input type="radio" name="period" value="3" class="radio peer" v-model="period">
                        <span class="text-gray-400 peer-checked:text-gray-900 peer-checked:font-bold peer-focus:text-gray-700">
                                <i class="fa-solid fa-person-rays"></i>
                                3일
                            </span>
                    </label>

                    <label class="flex gap-2 items-center cursor-pointer">
                        <input type="radio" name="period" value="5" class="radio peer" v-model="period">
                        <span class="text-gray-400 peer-checked:text-gray-900 peer-checked:font-bold peer-focus:text-gray-700">
                                <i class="fa-regular fa-face-smile"></i>
                                5일
                            </span>
                    </label>

                    <label class="flex gap-2 items-center cursor-pointer">
                        <input type="radio" name="period" value="7" class="radio peer" v-model="period">
                        <span class="text-gray-400 peer-checked:text-gray-900 peer-checked:font-bold peer-focus:text-gray-700">
                                <i class="fa-solid fa-people-roof"></i>
                                7일
                            </span>
                    </label>
                </div>
            </div>
            <!--  이미지 등록  -->
            <div class="mt-10 font-semibold">사진첨부</div>
            <div class="flex mt-2 border border-gray-400 rounded-lg">
                <div class="filebox p-1">
                    <input class="upload-name p-[10px]" value="첨부파일" placeholder="첨부파일" disabled v-model="filenames">
                    <label class="h-[35px] rounded-lg p-2 pb-3 text-white bg-[#496AFF] cursor-pointer" for="file">파일찾기</label>
                    <input type="file" name="images" accept=".gif, .jpg, .png" multiple id="file"
                           v-on:change="onFileChange">
                </div>
                <!--                        <input type="file" name="images" multiple size=50 class="form-control">-->
            </div>
            <!--  설명 입력  -->
            <div class="mt-10 font-semibold">자세한 설명</div>
            <div class="flex mb-5 mt-2">
            <textarea class="p-2 w-[600 px] h-[200px] border border-gray-400 rounded-lg" name="description" rows="10" cols="100" placeholder="상품을 자세히 설명해주세요"
                      v-model="description"></textarea>
            </div>
            <!--  등록 버튼  -->
            <div class="flex justify-center mt-1 mb-10 ">
                <button class="w-full h-[80px]  py-1 px-8 rounded-lg bg-[#496AFF] border border-slate-300 hover:border-indigo-300 text-lg font-semibold text-white"
                        type="submit" v-on:click="submit" @click="createProduct">작성 완료
                </button>
            </div>
        </div>
    </div>
    <script>
        new Vue({
            el: '#create-form',
            data: {
                title: '',
                minimumPrice: '',
                period: '',
                images: [],
                description: '',
                filenames: ''

            },
            created() { // 최초에 이 페이지가 열릴 때, 실행

            },
            methods: { // java => method
                onFileChange() {
                    const fileInput = event.target;
                    if (fileInput.files && fileInput.files[0]) {
                        if (this.images.includes(fileInput.files[0].name)) {
                            alert("같은 파일입니다.");
                            return;
                        }
                        if (this.images.length > 5) {
                            alert("최대 5개까지 가능합니다.");
                            return;
                        }
                        this.images.push(fileInput.files[0]);
                        this.filenames += fileInput.files[0].name + "  ";
                    }
                },
                submit() {
                    const formData = new FormData();

                    if (this.title.trim() === "" ||
                        this.price < 100 ||
                        this.period.trim() === "" ||
                        this.description.trim() === "") {
                        Swal.fire({
                            title: '모든 내용을 입력해주세요',
                            text: '다시 입력해주세요',
                            icon: 'warning'
                        });
                        return;
                    }

                    //이미지 파일 null 체크
                    if (this.images.length === 0) {
                        Swal.fire({
                            title: '이미지 파일을 업로드해주세요',
                            icon: 'warning'
                        });
                        return false;
                    }

                    formData.append("title", this.title);
                    formData.append("minimumPrice", this.minimumPrice);
                    formData.append("period", this.period);
                    formData.append("description", this.description);
                    this.images.forEach(image => formData.append("images", image));

                    axios.post("/api/v1/item", formData, {
                        headers: {
                            "Content-Type": `multipart/form-data`,
                        }
                    }).then(response => {
                        Swal.fire({
                            title: '등록이 완료되었습니다',
                            text: '등록 성공',
                            icon: 'success'
                        });
                        setTimeout(() => {window.location.href = response.data;}, 1500);
                    }).catch(error => console.log(error));

                },
                createProduct() {
                    const product= {
                        option: this.period
                    };
                    localStorage.setItem(itemId, JSON.stringify(product));
                }

            }
        });
    </script>
</div>
</body>
</html>