<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:replace="import::head"></div>
<body>
<div id="detail">
    <div th:replace="header::div"></div>
    <div class="flex flex-col items-center mt-5 overflow-y-scroll">
        <!--  이미지  -->
        <div class="w-[550px] h-[305px] truncate rounded-lg mb-[8px]">
            <!--     'http://localhost:8080/api/v1/image/item/' + item.thumbnailImageUrl      -->
            <img class="object-cover h-full w-full" src="/image/test_image.png">
        </div>
        <!--  설명  -->
        <div class="flex flex-col">
            <!--  사용자 프로필, 비더, 댓글  -->
            <div class="flex items-center w-[550px] justify-between">
                <!--   사용자 프로필   -->
                <div class="flex items-center">
                    <img src="/image/profile.png" class="w-[40px] h-[40px] mr-1">
                    <div class="" th:text="${item.memberName}"></div>
                </div>
                <!--    비더, 댓글    -->
                <div class="flex">
                        <span class="flex mr-2">
                            <img src="/image/person.png" class="w-[20px] h-[20px]">
                            <span class="text-sm text-gray-600" th:text="${item.bids.size()}"></span>
                        </span>
                    <span class="flex items-center">
                            <img src="/image/comment.png" class="w-[18px] h-[18px] mr-1">
                            <span class="text-sm text-gray-600">{{ comments.length }}</span>
                        </span>
                </div>
            </div>
            <!--   제목, 버튼   -->
            <div class="flex justify-between items-center mt-1">
                <div class="text-xl font-semibold" th:text="${item.title}"></div>
                <!--    버튼    -->
                <div class="flex">
                    <button class="border-solid border-[1px] border-gray-400 px-9 py-1 rounded-md mr-2 hover:bg-gray-100">
                        채팅하기
                    </button>
                    <a class="border-solid border-[1px] px-9 py-1 border-indigo-400 bg-indigo-400  hover:bg-indigo-600 rounded-md text-white" th:href="|@{'/bid/list?itemId='}| + ${item.id}">입찰하기</a>
                </div>
            </div>
            <div class="text-sm text-gray-600">
                <div class="truncate text-sm text-zinc-700">
                    <script th:inline="javascript">
                        const createdDate = /*[[${item.createdAt}]]*/ '';
                        const timeAgo = getTimeAgo(new Date(createdDate));
                        document.write(timeAgo);

                        function getTimeAgo(date) {
                            const currentDate = new Date();
                            const timeDiff = currentDate - date;

                            const minuteDiff = Math.floor(timeDiff / 1000 / 60);
                            const hourDiff = Math.floor(timeDiff / 1000 / 60 / 60);
                            const dayDiff = Math.floor(timeDiff / 1000 / 60 / 60 / 24);

                            if (minuteDiff < 1) {
                                return "방금 전";
                            } else if (hourDiff < 1) {
                                return `${minuteDiff}분 전`;
                            } else if (dayDiff < 1) {
                                return `${hourDiff}시간 전`;
                            } else {
                                return `${dayDiff}일 전`;
                            }
                        }
                    </script>
                </div>

            </div>
            <div class="text-lg text-indigo-400" th:text="|₩${item.minimumPrice}|"></div>
            <div class="flex">
                <span class="text-sm text-gray-600" th:if="${item.minPrice != null}" th:text="|최저가 ₩${item.minPrice} ~ &nbsp|"></span>
                <span class="text-sm text-gray-600" th:if="${item.minPrice == null}" th:text= "|최저가&nbsp₩&nbsp~&nbsp|"></span>
                <span class="text-sm text-gray-600" th:if="${item.maxPrice != null}" th:text="|최고가 ₩${item.maxPrice}|"></span>
                <span class="text-sm text-gray-600" th:if="${item.maxPrice == null}" th:text="|최고가&nbsp₩|"></span>
            </div>
            <!--  본문  -->
            <div class="mt-5" th:text="${item.description}"></div>
        </div>

        <!--  댓글  -->
        <div class="w-[550px]">
            <div class="border-t-[1px] border-inherit my-5"></div>
            <div class="flex items-center mb-5">
                <div class="text-lg font-medium justify-start mr-1">댓글</div>
                <div class="text-lg font-medium text-indigo-400"> {{ comments.length }}</div>
            </div>

            <!--   댓글 입력   -->
            <div>
                <div class="flex justify-between">
                    <div class="flex">
                        <img src="/image/profile.png" class="w-[40px] h-[40px] mr-1">
                        <input class="w-[460px] ml-1" type="text" placeholder="댓글을 입력해주세요" v-model="commentMessage">
                    </div>
                    <button v-on:click="addComment">
                        <img src="/image/submit.png" class="w-[30px] h-[30px] mr-1">
                    </button>
                </div>
                <div class="border-t-[1px] border-inherit mt-1"></div>
            </div>

            <!--  댓글 리스트  -->
            <div class="mt-5" v-for="comment in comments" v-bind:key="comment.commentId">
                <div class="flex items-center">
                    <img src="/image/profile.png" class="w-[40px] h-[40px] mr-1">
                    <div class="flex flex-col">
                        <div class="text-base font-medium"> {{ comment.memberName }}</div>
                        <div class="text-sm text-gray-600"> {{ comment.content }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-10"></div>
        <input type="hidden" id="itemId" th:name="itemId" th:value="${ item.id }">
    </div>
</div>
<script>
    new Vue({
        el: '#detail',
        data: {
            username: '',
            itemId: 0,
            comments: [],
            commentMessage: ''
        },
        created() {
            this.username = localStorage.getItem('username');
            this.itemId = parseInt(document.getElementById('itemId').value);
            this.initData();
        },
        methods: {
            initData() {
                axios.get('/api/v1/item/' + this.itemId + '/comments')
                    .then(response => {
                        this.comments = response.data.reverse();
                    }).catch(error => {
                    console.log(error);
                })
            },
            addComment() {
                if (this.commentMessage === '') {
                    return;
                }
                axios.get('/api/v1/comment-ids', {
                    auth: {
                        username: localStorage.getItem('username'),
                        password: ''
                    }
                }).then(response => {
                    const itemIds = response.data;
                    if (!itemIds.includes(this.itemId)) {
                        this.connect(this.itemId);
                    }
                }).catch(error => {
                    console.log(error);
                });

                axios.post('/api/v1/item/' + this.itemId + '/comment', {
                    auth: {
                        username: this.username,
                        password: ''
                    },
                    content: this.commentMessage
                }).then(response => {
                    this.comments.unshift(response.data);
                    this.commentMessage = ''
                })
            },
            connect(itemId) {
                socket = new SockJS("/ws-stomp");
                ws = Stomp.over(socket);
                ws.connect({}, (frame) => {
                    ws.subscribe("/sub/notification/item/" + itemId,
                        (message) => {
                            // const senderName = message.body;
                            // if (this.username !== senderName) {
                                console.log("icon 표시");
                            // }
                        });
                }, (error) => {
                    console.log(error);
                });

                axios.post('/api/v1/connection', {
                    auth: {
                        username: this.username,
                        password: ''
                    },
                    connectionId: this.itemId,
                    connectionType: 'ITEM'
                }).then(response => {

                }).catch(error => {

                })
            },
            handleChat() {}
        }
    })
</script>
</body>
</html>