<html xmlns:th="http://www.thymeleaf.org"
>
<div th:replace="import::head"></div>
<body>
<div id="detail">
    <!--  모달  -->
    <div th:replace="header::div"></div>
    <div v-if="isModal" id="black-bg" class="flex items-center justify-center">
        <div class="w-[476px] h-[456px] p-[35px] bg-white rounded-[8px] overflow-y-scroll mt-[-175px] drop-shadow-md" id="white-bg">
            <div>
                <!--       제목, 닫기 아이콘         -->
                <div v-if="item.itemStatus==='BIDDING' && !isMe" class="flex justify-between mb-[16px]">
                    <div class="flex items-baseline">
                        <span class="text-[18px] font-semibold mr-[8px]">입찰하기</span>
                        <span class="text-[12px] text-[#515151] mr-[4px]">판매가</span>
                        <span class="text-[12px] text-[#515151]">{{ item.minimumPrice }}원</span>
                    </div>
                    <button v-on:click="closeBidModal()" class="text-[12px] text-[#515151]">
                        <img src="https://kr.object.ncloudstorage.com/s3bucket/close_x.png"
                             class="w-[22px] h-[22px]">
                    </button>
                </div>

                <!--        입찰가격 input        -->
                <div v-if="item.itemStatus==='BIDDING' && !isMe">
                    <div class="flex justify-between">
                        <label>
                            <input v-on:keyup.enter="submitPrice" class="w-[354px] text-[14px]" type="number"
                                   step="100"
                                   placeholder="입찰할 가격을 입력해주세요 (단위 100원)" v-model="bidPrice">
                        </label>
                        <input type="submit" v-on:click="submitPrice"
                               class="flex text-[#496AFF] text-[14px] cursor-pointer" value="입찰하기">
                    </div>
                    <div class="border-t-[1px] border-inherit mt-1 mb-[35px]"></div>
                </div>

                <!--        입찰 경매 종료        -->
                <div v-else-if="item.itemStatus==='BID_END' && item.itemStatus==='SOLDOUT' && !isMe">
                    <div class="flex justify-between">
                        <label>
                            <input class="w-[354px] text-[14px]" type="text" placeholder="경매가 종료되었습니다.">
                        </label>
                    </div>
                    <div class="border-t-[1px] border-inherit mt-1 mb-[35px]"></div>
                </div>

                <div class="flex justify-between items-center mb-[17px]">
                    <div class="flex items-baseline">
                        <span class="text-[18px] font-semibold mr-[8px]">입찰내역</span>
                        <span class="text-[12px] text-[#515151] mr-[4px]">평균가</span>
                        <span class="text-[12px] text-[#515151]">{{ avgPrice }}원</span>
                    </div>
                    <button v-if="isMe" v-on:click="closeBidModal()" class="text-[12px] text-[#515151]">
                        <img src="https://kr.object.ncloudstorage.com/s3bucket/close_x.png"
                             class="w-[22px] h-[22px]">
                    </button>
                </div>

                <div class="mt-4" v-for="bid in bids" v-bind:key="bid.bidId">
                    <div class="flex items-center">
                        <div class="flex justify-between w-[406px]">
                            <div class="flex">
                                <img src="https://kr.object.ncloudstorage.com/s3bucket/profile.png"
                                     class="w-[24px] h-[24px] mr-[8px]">
                                <div class="font-medium text-[14px]"> {{ bid.bidderName }}님이 {{ bid.bidPrice }}원을
                                    제시하였습니다.
                                </div>
                            </div>
                            <div class="items-center" v-if="bid.bidderName === username">
                                <button v-on:click="deleteBid(bid.bidId)" class="text-[12px] text-[#515151]">
                                    <img src="https://kr.object.ncloudstorage.com/s3bucket/close_x.png"
                                         class="w-[18px] h-[18px]">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-[70px]"></div>
    <div class="flex flex-col items-center overflow-y-scroll pt-[10px]">
        <!--  이미지  -->
        <div class="w-[600] h-[404] truncate rounded-lg mb-[5px]">
            <img class="object-cover h-full w-full"
                 :src="'https://kr.object.ncloudstorage.com/s3bucket/' + item.thumbnailImageName">
        </div>
        <!--  설명  -->
        <div class="flex flex-col">
            <!--  제목  -->
            <div class="flex items-center w-[588px] justify-between">
                <div class="text-[20px] font-semibold">{{ item.title }}</div>
                <!--    좋아요, 비더, 댓글    -->
                <div class="flex">
                    <span class="flex mr-[7px] items-center">
                        <img src="https://kr.object.ncloudstorage.com/s3bucket/heart_black_blank.png"
                             class="w-[16px] h-[16px] mr-[2px]">
                        <span class="text-[14px]">{{ likeCount }}</span>
                    </span>
                    <span class="flex">
                        <img src="https://kr.object.ncloudstorage.com/s3bucket/person.png"
                             class="w-[20px] h-[20px]">
                        <span class="text-[14px] text-gray-600">{{ item.bidCount }}</span>
                    </span>
                </div>
            </div>
            <!--   사용자 이름, 남은 시간, 수정, 삭제(판매자)  -->
            <div class="flex justify-between items-center w-[588px]">
                <!--   사용자 프로필   -->
                <div class="flex items-center">
                    <div class="items-start text-[14px] mr-[4px]">{{ item.memberName }}</div>
                    <div class="items-start text-[14px] mr-[4px]">&middot;</div>
                    <div class="truncate text-[14px] text-[#515151] font-medium">{{ getTimeAgo(item.expireAt) }}
                    </div>
                </div>
                <div v-if="isMe" class="flex items-start">
                    <button class="text-[14px] mr-[10px] text-[#515151]" v-on:click="soldOut()">판매완료</button>
                    <button class="text-[14px] mr-[10px] text-[#515151]" v-on:click="updateItem()">수정</button>
                    <button class="text-[14px] text-[#515151]" v-on:click="deleteItem()">삭제</button>
                </div>
            </div>
            <div class="flex w-[588px] items-baseline mt-[18px]">
                <div class="text-[14px] text-[#515151] mr-[10px]">판매가</div>
                <div class="text-[18px] font-semibold">{{ item.minimumPrice }}원</div>
            </div>
            <div class="flex w-[588px] items-center mt-[-2px]">
                <div class="text-[14px] text-[#515151] mr-[10px]">입찰가</div>
                <div>
                    <!--                    <span class="text-[14px] text-[#496AFF]" v-if="item.minPrice != null">{{ item.minPrice }}원&nbsp~</span>-->
                    <span class="text-[14px]" v-if="item.minPrice != null">{{ item.minPrice }}원&nbsp~</span>
                    <span class="text-[14px]" v-if="item.minPrice === null">~</span>
                    <span class="text-[14px]" v-if="item.maxPrice != null">&nbsp{{ item.maxPrice }}원</span>
                </div>
            </div>
            <!--     가로선       -->
            <div class="border-t-[1px] border-[#F0F0F0] my-3"></div>
            <!--  본문  -->
            <div class="w-[588px] text-[16px] font-medium">{{ item.description }}</div>
        </div>

        <!--  댓글  -->
        <div class="w-[588px]">
            <div class="flex items-center mt-[30px] mb-[20px]">
                <div class="text-[14px] font-medium justify-start mr-[5px]">댓글</div>
                <div class="text-[14px] font-medium text-[#496AFF]"> {{ commentCount }}</div>
            </div>

            <!--   댓글 입력   -->
            <div>
                <div class="flex justify-between">
                    <div class="flex">
                        <label>
                            <input v-on:keyup.enter="addComment" class="w-[588px] text-[14px]" type="text"
                                   placeholder="댓글 달기..." v-model="commentMessage">
                        </label>
                    </div>
                </div>
                <div class="border-t-[1px] border-inherit mt-1"></div>
            </div>

            <!--  댓글 리스트  -->
            <div class="mt-4" v-for="comment in comments" v-bind:key="comment.commentId">
                <div class="flex items-center">
                    <img src="https://kr.object.ncloudstorage.com/s3bucket/profile.png"
                         class="w-[32px] h-[32px] mr-[9px]">
                    <div class="flex flex-col">
                        <div class="text-base font-medium mr-[9px]"> {{ comment.memberName }}</div>
                        <div class="text-sm text-gray-600 mt-[-5px]"> {{ comment.content }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="!isModal" class="flex items-center border-solid w-[588px] h-[70px] bg-white fixed bottom-0">
            <div v-if="!isMe" class="flex justify-between w-[588px]">
                <button id="likeItemButton" @click="likeItem()">
                    <img v-if="!likeStatus" src="https://kr.object.ncloudstorage.com/s3bucket/heart_black_blank.png"
                         class="w-[28px] h-[28px]">
                    <img v-else src="https://kr.object.ncloudstorage.com/s3bucket/full_heart.png"
                         class="w-[28px] h-[28px]">
                </button>
                <button class="
                    border-solid
                    border-[1px]
                    w-[264px]
                    h-[45px]
                    border-[#496AFF]
                    rounded-[25px]
                    text-[17px]
                    font-medium hover:bg-gray-100"
                        v-on:click="clickChatButton()">
                    채팅하기
                </button>

                <button class="
                    border-solid
                    border-[0px]
                    w-[264px]
                    h-[45px]
                    border-[#496AFF]
                    bg-[#496AFF]
                    rounded-[25px]
                    text-[17px]
                    font-medium
                    hover:bg-[#425EDF]
                    text-[#ffffff]"
                        v-on:click="openBidModal">
                    입찰하기
                </button>
            </div>

            <button v-else class="
                border-solid
                border-[0px]
                w-[588px]
                h-[45px]
                border-[#496AFF]
                bg-[#496AFF]
                rounded-[25px]
                text-[17px]
                font-medium
                hover:bg-[#425EDF]
                text-[#ffffff]"
                    v-on:click="openBidModal()">
                입찰내역
            </button>
        </div>
        <div class="mb-[100px]"></div>
        <input type="hidden" id="itemId" th:name="itemId" th:value="${ itemId }">
    </div>
</div>
<style>
    body {
        margin: 0
    }

    div {
        box-sizing: border-box;
    }

    #black-bg {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
        position: fixed;
    }
</style>
<script>
    new Vue({
        el: '#detail',
        data: {
            username: '',
            itemId: 0,
            comments: [],
            commentCount: 0,
            commentMessage: '',
            item: '',
            maxPrice: 0,
            sellerId: 0,
            likeStatus: '',
            page: 0,
            size: 10,
            likeCount: 0,
            isModal: false,
            bidPrice: '',
            bids: [],
            avgPrice: 0,
            isMe: false,
        },
        created() {
            this.username = localStorage.getItem('username');
            this.itemId = parseInt(document.getElementById('itemId').value);
            this.initData();
        },
        methods: {
            initData() {
                this.getItemDetail();
                this.getComments();
                this.getLikeStatus();
            },
            addComment() {
                if (this.commentMessage === '') {
                    return;
                }
                axios.post('/api/v1/item/' + this.itemId + '/comment', {
                    content: this.commentMessage
                }).then(response => {
                    this.comments.unshift(response.data);
                    this.commentMessage = ''
                }).catch(error => window.location.href = window.location.protocol + "//" + window.location.host + "/login");

                this.commentCount++;

                const socket = new SockJS("/ws-stomp");
                const ws = Stomp.over(socket);
                ws.connect({}, (frame) => {
                    ws.send("/pub/notification/new-comment", {},
                        JSON.stringify({
                            itemId: this.itemId,
                            writerName: this.username
                        }));
                })

            },
            clickChatButton() {
                window.location.href = window.location.protocol + "//" + window.location.host + "/chat-room/list?itemId=" + this.itemId + "&buyerName=" + this.username;
            },
            deleteItem() {
                if (window.confirm("삭제하시겠습니까?")) {
                    axios.delete('/api/v1/item/' + this.itemId)
                        .then(response => {
                            window.location.href = response.data;
                        }).catch(error => console.log(error));
                }
            },
            getComments() {
                axios.get('/api/v1/item/' + this.itemId + '/comments?size=' + this.size + "&page=" + this.page)
                    .then(response => {
                        this.comments = response.data;
                    }).catch(error => {
                    console.log(error);
                });
            },
            getItemDetail() {
                axios.get('/api/v1/item/' + this.itemId)
                    .then(response => {
                        this.item = response.data;
                        this.sellerId = response.data.sellerId;
                        this.commentCount = response.data.commentCount;
                        this.likeCount = response.data.heartCount;
                        this.isMe = response.data.memberName === this.username;

                    }).catch(error => {
                    console.log(error);
                });
            },
            getTimeAgo(date) {
                if (this.item.itemStatus !== 'BIDDING') {
                    return "경매종료";
                }
                const currentDate = new Date();
                const timeDiff = new Date(date) - currentDate;

                const minuteDiff = Math.floor(timeDiff / 1000 / 60);
                const hourDiff = Math.floor(timeDiff / 1000 / 60 / 60);
                const dayDiff = Math.floor(timeDiff / 1000 / 60 / 60 / 24);

                if (minuteDiff < 1) {
                    return "1분 안에 종료";
                } else if (hourDiff < 1) {
                    return `${minuteDiff}분 남음`;
                } else if (dayDiff < 1) {
                    return `${hourDiff}시간 남음`;
                } else {
                    return `${dayDiff}일 남음`;
                }
            },
            redirectBidList() {
                axios.put('/api/v1/item/sale', {
                    "itemId": this.itemId
                }).then(response => {
                    window.location.href = response.data;
                }).catch(error => {
                    // TODO 예외 처리 403
                })
            },
            likeItem() {
                axios.post('/api/v1/item/' + this.itemId + '/likes')
                    .then(response => {
                        this.likeStatus = response.data.likeStatus;
                        if (this.likeStatus) {
                            this.likeCount++;
                        } else {
                            this.likeCount--;
                        }
                    }).catch(error => {
                    console.log(error);
                })
            },
            getLikeStatus() {
                axios.get('/api/v1/item/' + this.itemId + '/likeStatus')
                    .then(response => {
                        this.likeStatus = response.data.likeStatus;
                    }).catch(error => {
                    console.log(error);
                })
            },
            updateItem() {
                window.location.href = "/item/update/" + this.itemId
            },
            openBidModal() {
                this.isModal = true;
                this.updateData();
            },
            closeBidModal() {
                this.isModal = false;
            },
            updateData() {
                console.log("updateData");
                axios.get('/api/v1/bid/list?itemId=' + this.itemId)
                    .then(response => {
                        this.bids = [];
                        this.bids = response.data.bids;
                        this.avgPrice = response.data.bidDetails.avgPrice;
                    }).catch();
            },
            submitPrice() {
                if (this.bidPrice < 100) {
                    alert("최소 100원부터 가능합니다.");
                    return;
                }
                const priceStr = this.bidPrice.toString();
                if (priceStr.slice(-2, priceStr.length) !== '00') {
                    alert("100원 단위만 가능합니다.");
                    return;
                }
                axios.post('/api/v1/bid', {
                    itemId: this.itemId,
                    itemPrice: this.bidPrice
                }).then(response => {
                    this.updateData();
                    alert("입찰을 완료했습니다.");
                    this.bidPrice = '';
                }).catch(error => {
                    console.log(error)
                });
                socket = new SockJS("/ws-stomp");
                ws = Stomp.over(socket);
                ws.connect({}, (frame) => {
                    ws.send("/pub/notification/new-bid", {},
                        JSON.stringify({
                            itemId: this.itemId,
                            memberName: this.username
                        }));
                })
            },
            deleteBid(bidId) {
                axios.delete('/api/v1/bid/' + bidId, {})
                    .then(response => {
                        this.updateData();
                    }).catch();
            },
            soldOut() {
                axios.put('/api/v1/item/sold-out', {
                    itemId: this.itemId
                }).then(response => {
                    this.updateData();
                    alert("판매를 완료했습니다.");
                }).catch(error => {
                    console.log(error)
                });

                socket = new SockJS("/ws-stomp");
                ws = Stomp.over(socket);
                ws.connect({}, (frame) => {
                    ws.send("/pub/notification/sold-out", {},
                        JSON.stringify({
                            itemId: this.itemId
                        }));
                })
                this.bidPriceInput = 0;
            },
        }
    })
    $(document).ready(function () {
        $('#search-input').on('keypress', function (event) {
            if (event.keyCode === 13 || event.which === 13) {
                $('#search-button').click();
            }
        })
    });

    if (localStorage.getItem('chatStatus') === '1') {
        $('#chat-icon').attr('src', 'https://kr.object.ncloudstorage.com/s3bucket/chat_text_1.png.png');
    }

    if (localStorage.getItem('notificationStatus') === '1') {
        $('#notification-icon').attr('src', 'https://kr.object.ncloudstorage.com/s3bucket/notification_text_1.png');
    }

    search = () => {
        const searchText = document.getElementById('search-input').value;
        if (searchText === '') return;
        window.location.href = window.location.protocol + "//" + window.location.host + "/home?q=" + searchText;
    }

    readNotification = () => {
        localStorage.setItem('notificationStatus', "0");
        $('#notification-icon').attr('src', 'https://kr.object.ncloudstorage.com/s3bucket/notification.png');
    }

    readChat = () => {
        localStorage.setItem('chatStatus', "0");
        $('#chat-icon').attr('src', 'https://kr.object.ncloudstorage.com/s3bucket/chat.png');
    }

    socketConnect = () => {
        const username = localStorage.getItem('username');

        if (username === null || username === '') return;

        axios.get('/api/v1/socket-id')
            .then(response => {
                const socketPath = response.data;
                const socket = new SockJS("/ws-stomp");
                const ws = Stomp.over(socket);

                ws.connect({}, (frame) => {
                    ws.subscribe(socketPath,
                        (message) => {
                            console.log(message.body);
                            if (message.body === 'NOTIFICATION') {
                                localStorage.setItem('notificationStatus', '1');
                                $('#notification-icon').attr('src', 'https://kr.object.ncloudstorage.com/s3bucket/notification_noti.png');
                            } else {
                                if (window.location.href.includes("/chat-room/list")) return;
                                localStorage.setItem('chatStatus', '1');
                                $('#chat-icon').attr('src', 'https://kr.object.ncloudstorage.com/s3bucket/chat_noti.png');
                            }
                        }
                    );
                }, (error) => {
                    console.log(error);
                });
            })
            .catch(error => {
                console.log(error);
            });
    }
    // checkNotRead();
    socketConnect();
</script>
</body>
</html>