<html xmlns:th="http://www.thymeleaf.org"
>
<div th:replace="import::head"></div>
<body>
<div id="detail">
    <div th:replace="header::div"></div>
    <div class="flex flex-col items-center mt-5 overflow-y-scroll">
        <!--  이미지  -->
        <div class="w-[550px] h-[305px] truncate rounded-lg mb-[8px]">
            <img class="object-cover h-full w-full"
                 :src="'http://localhost:8080/api/v1/image/item/' + item.thumbnailImageName">
        </div>
        <!--  설명  -->
        <div class="flex flex-col">
            <!--  사용자 프로필, 비더, 댓글  -->
            <div class="flex items-center w-[550px] justify-between">
                <!--   사용자 프로필   -->
                <div class="flex items-center">
                    <img src="/image/profile.png" class="w-[40px] h-[40px] mr-1">
                    <div class="">{{ item.memberName }}</div>
                </div>
                <!--    비더, 댓글    -->
                <div class="flex">
                        <span class="flex mr-2">
                            <img src="/image/person.png" class="w-[20px] h-[20px]">
                            <span class="text-sm text-gray-600">{{ item.bidCount }}</span>
                        </span>
                    <span class="flex items-center">
                            <img src="/image/comment.png" class="w-[18px] h-[18px] mr-1">
                            <span class="text-sm text-gray-600">{{ comments.length }}</span>
                        </span>
                </div>
            </div>
            <!--   제목, 버튼   -->
            <div class="flex justify-between items-center mt-1">
                <div class="flex items-start">
                    <div class="text-xl font-semibold text-gray-600">{{ item.title }}</div>
                    <div v-if="item.itemStatus === 'BID_END' || item.itemStatus === 'SOLDOUT'"
                         class="text-sm text-gray-600 ml-1 pt-[2px]">BID_END
                    </div>
                </div>

                <!--    버튼    -->
                <div class="flex items-center">
                    <div v-if="isMe()" class="flex h-[35px]">
                        <button class="border-solid border-[1px] h-[35px] border-gray-400 px-9 py-1 rounded-md mr-2 hover:bg-gray-100"
                                v-on:click="deleteItem()">
                            삭제하기
                        </button>
                    </div>
                    <div v-else class="flex h-[35px]">
                        <button class="border-solid border-[1px]  h-[35px] border-gray-400 px-9 py-1 rounded-md mr-2 hover:bg-gray-100"
                                v-on:click="handleChat()">
                            채팅하기
                        </button>
                    </div>
                    <a class="border-solid border-[1px] px-9 py-1 h-[35px] border-indigo-400 bg-indigo-400  hover:bg-indigo-600 rounded-md text-white"
                       :href="'/bid/list?itemId=' + itemId">
                        <span v-if="isMe()">입찰내역</span>
                        <span v-else-if="item.itemStatus === 'BIDDING'">입찰하기</span>
                        <span v-else-if="item.itemStatus === 'BID_END' || item.itemStatus === 'SOLDOUT'">입찰목록</span>
                    </a>
                </div>
            </div>
            <div class="text-sm text-gray-600">
                <div class="truncate text-sm text-zinc-700">{{ getTimeAgo(item.expireAt) }}</div>
            </div>
            <div class="text-lg text-indigo-400">{{item.minimumPrice}}</div>
            <div class="flex">
                <span class="text-sm text-gray-600" v-if="item.minPrice != null">최저가 ₩{{ item.minPrice }}&nbsp~</span>
                <span class="text-sm text-gray-600" v-if="item.minPrice === null">최저가 ₩&nbsp~</span>
                <span class="text-sm text-gray-600" v-if="item.maxPrice != null">최고가 ₩{{ item.maxPrice }}</span>
                <span class="text-sm text-gray-600" v-if="item.maxPrice == null">최고가 ₩</span>
            </div>
            <!--  본문  -->
            <div class="mt-5 w-[550px]">{{ item.description }}</div>
        </div>

        <!--  댓글  -->
        <div class="w-[550px]">
            <div class="border-t-[1px] border-inherit my-5"></div>
            <div class="flex items-center mb-5">
                <div class="text-lg font-medium justify-start mr-1">댓글</div>
                <div class="text-lg font-medium text-indigo-400"> {{ comments.length }}</div>
            </div>

            <!--   댓글 입력   -->
            <div>
                <div class="flex justify-between">
                    <div class="flex">
                        <img src="/image/profile.png" class="w-[40px] h-[40px] mr-1">
                        <input class="w-[460px] ml-1" type="text" placeholder="댓글을 입력해주세요" v-model="commentMessage">
                    </div>
                    <button v-on:click="addComment">
                        <img src="/image/submit.png" class="w-[30px] h-[30px] mr-1">
                    </button>
                </div>
                <div class="border-t-[1px] border-inherit mt-1"></div>
            </div>

            <!--  댓글 리스트  -->
            <div class="mt-5" v-for="comment in comments" v-bind:key="comment.commentId">
                <div class="flex items-center">
                    <img src="/image/profile.png" class="w-[40px] h-[40px] mr-1">
                    <div class="flex flex-col">
                        <div class="text-base font-medium"> {{ comment.memberName }}</div>
                        <div class="text-sm text-gray-600"> {{ comment.content }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-10"></div>
        <input type="hidden" id="itemId" th:name="itemId" th:value="${ itemId }">
    </div>
</div>
<script>
    new Vue({
        el: '#detail',
        data: {
            username: '',
            itemId: 0,
            comments: [],
            commentMessage: '',
            item: '',
            maxPrice: 0,
            sellerId: 0,
        },
        created() {
            this.username = localStorage.getItem('username');
            this.itemId = parseInt(document.getElementById('itemId').value);
            this.initData();
        },
        methods: {
            initData() {
                this.getItemDetail();
                this.getComments();
                axios.get('/api/v1/item/' + this.itemId + '/comments')
                    .then(response => {
                        this.comments = response.data.reverse();
                    }).catch(error => {
                    console.log(error);
                })
            },
            addComment() {
                if (this.commentMessage === '') {
                    return;
                }
                axios.post('/api/v1/item/' + this.itemId + '/comment', {
                    content: this.commentMessage
                }).then(response => {
                    this.comments.unshift(response.data);
                    this.commentMessage = ''
                })

                const socket = new SockJS("/ws-stomp");
                const ws = Stomp.over(socket);
                ws.connect({}, (frame) => {
                    ws.send("/pub/notification/new-comment", {},
                        JSON.stringify({
                            itemId: this.itemId
                        }));
                })

            },
            handleChat() {
                axios.post('/api/v1/chat-room', {
                    buyerName: this.username,
                    itemId: this.itemId
                }).then(response => {
                    window.location.href = 'http://localhost:8080' + response.data;
                }).catch(error => console.log(error));
            },
            isMe() {
                return this.item.memberName === this.username;
            },
            deleteItem() {
                if (window.confirm("삭제하시겠습니까?")) {
                    axios.delete('/api/v1/item/' + this.itemId)
                        .then(response => {
                            window.location.href = response.data;
                        }).catch(error => console.log(error));
                }
            },
            getComments() {
                axios.get('/api/v1/item/' + this.itemId + '/comments')
                    .then(response => {
                        this.comments = response.data.reverse();
                    }).catch(error => {
                    console.log(error);
                });
            },
            getItemDetail() {
                axios.get('/api/v1/item/' + this.itemId)
                    .then(response => {
                        this.item = response.data;
                        this.sellerId = response.data.sellerId;
                    }).catch(error => {
                    console.log(error);
                });
            },
            getTimeAgo(date) {
                const currentDate = new Date();
                const timeDiff = new Date(date) - currentDate;

                const minuteDiff = Math.floor(timeDiff / 1000 / 60);
                const hourDiff = Math.floor(timeDiff / 1000 / 60 / 60);
                const dayDiff = Math.floor(timeDiff / 1000 / 60 / 60 / 24);

                if (minuteDiff < 1) {
                    return "1분 안에 종료";
                } else if (hourDiff < 1) {
                    return `${minuteDiff}분 남음`;
                } else if (dayDiff < 1) {
                    return `${hourDiff}시간 남음`;
                } else {
                    return `${dayDiff}일 남음`;
                }
            },
            redirectBidList() {
                axios.put('/api/v1/item/sale', {
                    "itemId": this.itemId
                }).then(response => {
                    window.location.href = response.data;
                }).catch(error => {
                    // TODO 예외 처리 403
                })
            }
        }
    })
</script>
</body>
</html>