<!DOCTYPE html>
<html lang="ko">
<div th:replace="import::head"></div>

<body>
<div id="app">
    <div th:replace="header::div"></div>
    <div class="flex flex-col items-center mt-20">
        <!--    <div clss="mr-5">{{ username }}</div>-->
        <!-- 선택 박스   -->
        <div class="w-[600px] text-end mr-[20px] mb-3">
            <select class="w-[180px] border border-gray-200 rounded-l px-1 py-1" :value="selected" @change="setOrder($event)">
                <option v-for="(item, index) in selectList"
                        :key="index"
                        :value="item.value">
                    {{ item.name }}
                </option>
            </select>
        </div>

        <!-- 그리드 -->
        <div class="grid grid-cols-3 place-items-center w-[600px] snap-y">
            <div v-for="item in items" v-bind:key="item.id">
                <!--  아이템 하나  -->
                <div class="flex flex-col w-[180px] h-[330px] mb-[20px] cursor-pointer"
                     v-on:click="clickItem(item.id)">
                    <!--   이미지   -->
                    <div class="relative rounded-2xl w-full h-[210px] truncate">
                        <img class="object-cover h-[210px] w-full" :src="item.thumbnailImageUrl">
                        <!--  좋아요 카운트  -->
                        <button class="absolute bottom-3 right-3 ">
                        <span class="flex items-center mr-2">
                                    <img v-if="!item.likeStatus" src="https://kr.object.ncloudstorage.com/s3bucket/empty_heart.png" class="w-[15px] h-[15px]">
                                    <img v-else src="https://kr.object.ncloudstorage.com/s3bucket/full_heart.png" class="w-[15px] h-[15px]">

                        </span>
                        </button>
                    </div>


                    <!--   제목   -->
                    <div class="flex justify-start items-center mt-1">
                            <a class="truncate text-[14px] text-[#34383B] font-semibold">{{ item.title }}</a>
                    </div>

                    <div class = " mt-1 flex">
                        <div class="mr-1 text-[15px] text-[#242729] font-bold">{{ item.minimumPrice }}원</div>

                        <div v-if="item.itemStatus === 'BID_END'" class="flex items-center">
                            <span class="text-[7px] text-gray-600 bg-gray-200 ml-1 p-0.5">입찰종료</span>
                        </div>
                        <div v-if="item.itemStatus === 'SOLDOUT'" class="flex items-center">
                            <span class="text-[7px] text-gray-600 bg-gray-200 ml-1 p-0.5">판매완료</span>
                        </div>
                        <div v-if="item.itemStatus === 'BIDDING'" class="flex items-center">
                            <span class="text-[7px] text-gray-600 bg-gray-200 py-[0.5px] px-[5px] ">입찰중</span>
                        </div>
                    </div>

                    <div class="mt-1  text-[11px] text-gray-600" v-if="item.itemStatus === 'BIDDING'">{{ item.expireAt }}</div>

                    <div class="mt-1 flex">
                        <!--  비드 카운트  -->
                        <span class="flex items-center mr-2">

                                <span class="text-[11px] text-[#34383B] font-bold">입찰   </span>
                                <span class="pl-1.5 text-[11px] text-[#34383B] font-bold">{{ item.bidCount }} </span>
                                <span class="pl-1.5 text-[11px] text-[#34383B] font-bold">댓글 </span>
                                <span class="pl-1.5 text-[11px] text-[#34383B] font-bold">{{ item.commentsCount }} </span>

                            <!--  댓글 카운트
                                <span class="text-[11px] text-[#697175] text-gray-600"> ()</span>
                                -->
                            </span>


                    </div>
                    <div v-else>&nbsp</div>
                </div>
            </div>
        </div>
        <input type="hidden" id="username" th:value="${username}">
        <input type="hidden" id="searchText" th:value="${searchText}">
        <button v-on:click="addItem" class="w-[70px] h-[70px] mb-[35px] mr-[50px] fixed bottom-0 right-0">
            <img src="https://kr.object.ncloudstorage.com/s3bucket/add_item.png">
        </button>
        <button class="hover:bg-zinc-200 text-[11px] mb-10 px-7 rounded-xl border border-gray-200 h-[40px]" v-on:click="addData">
            더보기
        </button>

    </div>
</div>
</body>
<script>
    new Vue({
        el: '#app',
        data: {
            username: '',
            selectList: [
                {name: "최신순", value: '1'},
                {name: "인기순", value: '2'},
                {name: "종료임박순", value: '3'}
            ],
            selected: '',
            items: [],
            page: 0,
            size: 9,
            searchText: '',
            prefix: '/api/v1/item/list',
            likes: [],
        },
        created() {
            this.username = document.getElementById('username').value;
            this.searchText = document.getElementById('searchText').value;
            localStorage.setItem("username", this.username);
            this.selected = this.selectList[0].value;
            this.getLikeIdList();
            this.addData();
        },
        methods: {
            addData() {
                axios.get(this.prefix + this.getQuery() + this.getLastItemId()).then(response => {
                    response.data.forEach(item => {
                        this.items.push(
                            {
                                id: item.id,
                                title: item.title,
                                bidCount: item.bidCount,
                                commentsCount: item.commentsCount,
                                heartsCount: item.heartsCount,
                                minimumPrice: item.minimumPrice,
                                minPrice: item.minPrice,
                                maxPrice: item.maxPrice,
                                expireAt: this.getTimeAgo(item.expireAt),
                                itemStatus : item.itemStatus,
                                thumbnailImageName: item.thumbnailImageName,
                                thumbnailImageUrl: 'https://kr.object.ncloudstorage.com/s3bucket/' + item.thumbnailImageName,
                                likeStatus: this.checkLikeId(item.id),
                            },
                        )
                    })
                }).catch(error => {
                    console.log(error);
                })
                this.page++;
            },
            setOrder(event) {
                this.page = 0;
                this.items = [];
                this.selected = event.target.value;
                this.addData();
            },
            clickItem(itemId) {
                window.location.href = window.location.protocol + "//" + window.location.host + "/item/" + itemId;
            },
            getTimeAgo(date) {
                const currentDate = new Date();
                const timeDiff =  new Date(date) - currentDate;

                const minuteDiff = Math.floor(timeDiff / 1000 / 60);
                const hourDiff = Math.floor(timeDiff / 1000 / 60 / 60);
                const dayDiff = Math.floor(timeDiff / 1000 / 60 / 60 / 24);

                if (minuteDiff < 1) {
                    return "1분 안에 종료";
                } else if (hourDiff < 1) {
                    return `${minuteDiff}분 남음`;
                } else if (dayDiff < 1) {
                    return `${hourDiff}시간 남음`;
                } else {
                    return `${dayDiff}일 남음`;
                }
            },
            isPriceShow(price) {
                return price !== null;
            },
            addItem() {
                window.location.href = window.location.protocol + "//" + window.location.host + "/item";
            },
            getQuery() {
                let query = '';
                if (this.selected !== '' || this.searchText !== '') {
                    query += '?';
                }
                if (this.selected !== '') {
                    query += "s=" + this.selected;
                }

                if (this.searchText !== '') {
                    if (this.selected !== '') {
                        query += '&';
                    }
                    query += 'q=' + this.searchText;
                }
                return query;
            },
            getLastItemId() {
                let query = '';
                if (this.items.length > 0 && this.selected === '1') {
                    query += "&id=" + this.items[this.items.length - 1].id;
                } else if (this.selected !== '1') {
                    query += "&page=" + this.page
                }
                query += "&size=" + this.size;
                return query;
            },
            getLikeIdList() {
                axios.get('/api/v1/item/home/likes')
                    .then(response => {
                        this.likes = response.data;
                    }).catch(error => {
                    console.log(error);
                })
            },
            checkLikeId(itemId) {
                return this.likes.includes(itemId);
            }
        }
    })
</script>
</html>