<!DOCTYPE html>
<html lang="ko">
<div th:replace="import::head"></div>
<div th:replace="header::div"></div>

<body>
<div id="app" class="flex flex-col items-center mt-12">
    <!--    <div clss="mr-5">{{ username }}</div>-->
    <!-- 선택 박스   -->
    <div class="w-[1230px] text-end mr-[80px] mb-3">
        <select class="bg-gray-200 rounded-sm px-1 py-1" :value="selected" @change="setSelect($event)">
            <option v-for="(item, index) in selectList"
                    :key="index"
                    :value="item.value">
                {{ item.name }}
            </option>
        </select>
    </div>

    <!-- 그리드 -->
    <div class="grid grid-cols-3 place-items-center w-[1200px] snap-y">
        <div v-for="(item, index) in items" v-bind:key="index">
            <!--  아이템 하나  -->
            <div class="flex flex-col w-[350px] min-w-[350px] h-[350px]">
                <!--   이미지   -->
                <div class="w-[350px] h-[212px] truncate rounded-lg">
                    <img :src="item.image" width="350" height="212">
                </div>
                <!--   제목   -->
                <div class="flex justify-between items-center mt-1">
                    <div class="text-xl">{{ item.title }}</div>
                    <div class="flex">
                        <span class="flex mr-2">
                            <img src="/image/person.png" class="w-[20px] h-[20px]">
                            <span class="text-sm text-gray-600">{{ item.bidCount }}</span>
                        </span>
                        <span class="flex items-center">
                            <img src="/image/comment.png" class="w-[18px] h-[18px] mr-1">
                            <span class="text-sm text-gray-600">{{ item.commentCount }}</span>
                        </span>
                    </div>
                </div>

                <div class="text-sm text-indigo-400">{{ item.price }}</div>
                <div class="text-sm text-gray-600">최저가 {{ item.minPrice }} ~ 최고가 {{ item.maxPrice }}</div>
                <div class="text-sm text-gray-600">{{ item.timeRemaining }}</div>
            </div>
        </div>
        <input type="hidden" id="username" th:value="${username}">

    </div>
</div>
</body>
<script>
    new Vue({
        el: '#app',
        data: {
            username: '',
            selectList: [
                { name: "최신순", value: "newest" },
                { name: "인기순", value: "popularity" },
                { name: "종료임박순", value: "soonToEnd" }
            ],
            selected: '',
            items: [
                {
                    image: 'https://me2.kr/GrxWn',
                    title: '제목1',
                    bidCount: 10,
                    commentCount: 5,
                    price: '30000원',
                    minPrice: '27000원',
                    maxPrice: '35000원',
                    timeRemaining: '3일 2시간 남음'
                },
                {
                    image: 'https://me2.kr/GrxWn',
                    title: '제목2',
                    bidCount: 10,
                    commentCount: 5,
                    price: '30000원',
                    minPrice: '27000원',
                    maxPrice: '35000원',
                    timeRemaining: '3일 2시간 남음'
                },
                {
                    image: 'https://me2.kr/GrxWn',
                    title: '제목3',
                    bidCount: 10,
                    commentCount: 5,
                    price: '30000원',
                    minPrice: '27000원',
                    maxPrice: '35000원',
                    timeRemaining: '3일 2시간 남음'
                },
                {
                    image: 'https://me2.kr/GrxWn',
                    title: '제목4',
                    bidCount: 10,
                    commentCount: 5,
                    price: '30000원',
                    minPrice: '27000원',
                    maxPrice: '35000원',
                    timeRemaining: '3일 2시간 남음'
                },
                {
                    image: 'https://me2.kr/GrxWn',
                    title: '제목5',
                    bidCount: 10,
                    commentCount: 5,
                    price: '30000원',
                    minPrice: '27000원',
                    maxPrice: '35000원',
                    timeRemaining: '3일 2시간 남음'
                },
                {
                    image: 'https://me2.kr/GrxWn',
                    title: '제목6',
                    bidCount: 10,
                    commentCount: 5,
                    price: '30000원',
                    minPrice: '27000원',
                    maxPrice: '35000원',
                    timeRemaining: '3일 2시간 남음'
                }
            ]
        },
        created() {
            this.username = document.getElementById('username').value;
            localStorage.setItem("username", this.username);
            this.selected = this.selectList[0].value;
        },
        methods: {
            setSelect(event) {
                const asisSelect = this.selected;
                // 변경 적용
                this.selected = event.target.value;
                console.log(this.selected);
            },
        }
    })
</script>
</html>