<!DOCTYPE html>
<html lang="ko">
<div th:replace="import::head"></div>
<body class="flex flex-col items-center justify-start h-screen">
<div th:replace="header::div"></div>
<!--  채팅 박스  -->
<div class="flex flex-col h-[800px] w-[550px] mt-6" id="app">

    <div class="flex" >
        <div class="text-3xl my-2 font-semibold">
            알림
        </div>
        <div class="ml-auto" style="position: relative; top: 30px;">
            <a id ="readAllNotification" class="text-l text-indigo-400 hover:bg-zinc-200"> 모든 알림 지우기</a>

        </div>
    </div>


    <!--   가로선   -->
    <div class="border border-inherit mt-4"></div>
    <div class="flex justify-start h-5/6 w-full">
        <!--   세로선 시작선    -->
        <div class="border border-inherit h-full"></div>
        <!--   알림창 시작     -->
        <div class="flex flex-col justify-between w-full overflow-y-scroll">


            <div class="flex flex-col">
                <!--     알림 아이템     -->
                <th:block th:each="notification: ${notifications}">
                    <!-- 입찰 알림 -->
                    <a class="hover:bg-zinc-200" th:if="${notification.getNotificationType().name() == 'BID'}"
                       th:href="@{/item/{itemId}(itemId=${notification.getItemId()})}">
                        <button class="flex px-3 py-5  items-center">
                            <!-- 이모티콘 -->
                            <div class="inline-block text-4xl mr-1">👀</div>
                            <!-- 메시지, 시간 -->
                            <div class="flex flex-col items-start ml-2">
                                <!-- 알림 메시지 -->
                                <div class="flex items-baseline">
                                    <div class="font-semibold"> 등록하신 상품에 입찰이 등록되었습니다. 바로 확인해보세요!</div>
                                </div>
                                <!-- 알림 시간 -->
                                <!--/*@thymesVar id="thCurrentData" type="aj"*/-->
                                <div class="truncate text-sm text-zinc-700" th:text="${notification.getCreatedDate()}"></div>
                            </div>
                        </button>
                    </a>
                    <!-- 경매 종료 알림 -->
                    <a class="hover:bg-zinc-200" th:if="${notification.getNotificationType().name() == 'BID_END'}"
                       th:href="@{/item/{itemId}(itemId=${notification.getItemId()})}">
                        <button class="flex px-3 py-5  items-center">
                            <!-- 이모티콘 -->
                            <div class="inline-block text-4xl mr-1">📣</div>
                            <!-- 메시지, 시간 -->
                            <div class="flex flex-col items-start ml-2">
                                <!-- 알림 메시지 -->
                                <div class="flex items-baseline">
                                    <div class="font-semibold"> 경매가 종료되었습니다. 판매자의 연락을 기다려주세요!</div>
                                </div>
                                <!-- 알림 시간 -->
                                <!--/*@thymesVar id="thCurrentData" type="aj"*/-->
                                <div class="truncate text-sm text-zinc-700" th:text="${notification.getCreatedDate()}"></div>
                            </div>
                        </button>
                    </a>
                    <!-- 판매 종료 알림 -->
                    <a class="hover:bg-zinc-200" th:if="${notification.getNotificationType().name() == 'SOLDOUT'}"
                       th:href="@{/item/{itemId}(itemId=${notification.getItemId()})}">
                        <button class="flex px-3 py-5  items-center">
                            <!-- 이모티콘 -->
                            <div class="inline-block text-4xl mr-1">📣</div>
                            <!-- 메시지, 시간 -->
                            <div class="flex flex-col items-start ml-2">
                                <!-- 알림 메시지 -->
                                <div class="flex items-baseline">
                                    <div class="font-semibold"> 가격을 제시한 물건이 낙찰받지 못하였습니다.</div>
                                </div>
                                <!-- 알림 시간 -->
                                <!--/*@thymesVar id="thCurrentData" type="aj"*/-->
                                <div class="truncate text-sm text-zinc-700" th:text="${notification.getCreatedDate()}"></div>
                            </div>
                        </button>
                    </a>
                    <!-- 댓글 알림 -->
                    <a class="hover:bg-zinc-200" th:if="${notification.getNotificationType().name() == 'COMMENT'}"
                       th:href="@{/item/{itemId}(itemId=${notification.getItemId()})}">
                        <button class="flex px-3 py-5  items-center">
                            <!-- 이모티콘 -->
                            <div class="inline-block text-4xl mr-1">💬</div>
                            <!-- 메시지, 시간 -->
                            <div class="flex flex-col items-start ml-2">
                                <!-- 알림 메시지 -->
                                <div class="flex items-baseline">
                                    <div class="font-semibold"> 등록하신 상품에 댓글이 등록되었습니다. 바로 확인해보세요!</div>
                                </div>
                                <!-- 알림 시간 -->
                                <!--/*@thymesVar id="thCurrentData" type="aj"*/-->
                                <div class="truncate text-sm text-zinc-700" th:text="${notification.getCreatedDate()}"></div>
                            </div>
                        </button>
                    </a>
                    <!-- 나머지 알림 타입에 대한 분기 처리 -->
                </th:block>
            </div>
        </div>

        <!--   세로선 알림창 오른쪽     -->
        <div class="border border-inherit"></div>


        <!--   세로선 알림창 오른쪽     -->
        <div class="border border-inherit"></div>
    </div>
    <div class="border border-inherit"></div>
</div>
</body>
<script>
    const numberInput = document.getElementById('myNumberInput');
    numberInput.addEventListener('focus', () => {
        numberInput.blur();
    });
</script>

<script>
    $(function(){
        $('#readAllNotification').on("click",function () {
            var url = "/notifications";

            $.ajax({
                type: "put",
                url: "/notification/readAll",
                success: function (data) {
                    window.location.href = url;
                },
                error: function (request, status, error) {
                    console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                }
            });
        });
    });
</script>

</html>