<div>
    <div th:replace="import::head"></div>
    <div class="flex fixed z-10 top-0 flex-col items-center w-full h-[70px] pb-[5px] bg-white" id="header_app">

        <div class="flex w-[600px] h-[70px] justify-between items-center bg-white">

            <div class="flex ml-auto mr pr-[12px]">
                <!-- 채팅-->
                <a href="/chat-room/list" onclick="readChat()" class="mr-2">
                    <img id="chat-icon" src="https://kr.object.ncloudstorage.com/s3bucket/chat_text_0.png" class="h-[14px]"/>
                </a>
                <!-- 알림-->
                <a href="/notifications" onclick="readNotification()" class="mr-2">
                    <img id="notification-icon" src="https://kr.object.ncloudstorage.com/s3bucket/notification_text_0.png" class="h-[14px]"/>
                </a>
                <!-- 입찰-->
                <a href="/item/bid-list">
                    <img src="https://kr.object.ncloudstorage.com/s3bucket/bid_text.png" class="h-[14px]"/>
                </a>
            </div>
        </div>

        <div class="flex w-[600px] h-[70px] justify-between items-center bg-white">
            <a href="/home">
                <img src="https://kr.object.ncloudstorage.com/s3bucket/bidder_own_logo.png" class ="h-[32px] w-full">
            </a>

            <div class="flex mx-[8px] h-[32px] max-w-[350px] border-solid border-[1px] border-zinc-300 rounded-[5px]">
                <button class="mr-[5px]" id="search-button" onclick="search()">
                    <img src="https://kr.object.ncloudstorage.com/s3bucket/search.png" class=" mx-[6px] w-[18px] h-[18px]">
                </button>
                <input type="text" placeholder="찾으시는 상품, 판매자, 내용을 입력하세요" class="w-[313px] text-[14px] rounded-r-[5px]" id="search-input"/>
            </div>


            <div class="flex">
                <a href="/my-page" onclick="readChat()" class="mr-2">
                    <img src="https://kr.object.ncloudstorage.com/s3bucket/myPage.jpg" class="w-[38px] h-[38px]"/>
                </a>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#search-input').on('keypress', function (event) {
                if (event.keyCode === 13 || event.which === 13) {
                    $('#search-button').click();
                }
            })
        });

        if (localStorage.getItem('chatStatus') === '1') {
            $('#chat-icon').attr('src', 'https://kr.object.ncloudstorage.com/s3bucket/chat_text_1.png.png');
        }

        if (localStorage.getItem('notificationStatus') === '1') {
            $('#notification-icon').attr('src', 'https://kr.object.ncloudstorage.com/s3bucket/notification_text_1.png');
        }

        search = () => {
            const searchText = document.getElementById('search-input').value;
            if (searchText === '') return;
            window.location.href = window.location.protocol + "//" + window.location.host + "/home?q=" + searchText;
        }

        readNotification = () => {
            localStorage.setItem('notificationStatus', "0");
            $('#notification-icon').attr('src', 'https://kr.object.ncloudstorage.com/s3bucket/notification_text_0.png');
        }

        readChat = () => {
            localStorage.setItem('chatStatus', "0");
            $('#chat-icon').attr('src', 'https://kr.object.ncloudstorage.com/s3bucket/chat_text_0.png');
        }

        socketConnect = () => {
            const username = localStorage.getItem('username');

            if (username === null || username === '') return;

            axios.get('/api/v1/socket-id')
                .then(response => {
                    const socketPath = response.data;
                    const socket = new SockJS("/ws-stomp");
                    const ws = Stomp.over(socket);

                    ws.connect({}, (frame) => {
                        ws.subscribe(socketPath,
                            (message) => {
                                console.log(message.body);
                                if (message.body === 'NOTIFICATION') {
                                    localStorage.setItem('notificationStatus', '1');
                                    $('#notification-icon').attr('src', 'https://kr.object.ncloudstorage.com/s3bucket/notification_text_1.png');
                                } else {
                                    if (window.location.href.includes("/chat-room/list")) return;
                                    localStorage.setItem('chatStatus', '1');
                                    $('#chat-icon').attr('src', 'https://kr.object.ncloudstorage.com/s3bucket/chat_text_1.png');
                                }
                            }
                        );
                    }, (error) => {
                        console.log(error);
                    });
                })
                .catch(error => {
                    console.log(error);
                });
        }
        // checkNotRead();
        socketConnect();

    </script>
</div>
