<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
<div style="text-align: center; display: flex; justify-content: center; align-items: center; min-height: 70vh;">
    <div class="center">
        <p style="font-size: 70px; font-weight: bold">BeTheOne</p>
        <div class="mt-3">
            <a href="/oauth2/authorization/kakao">
                <img src="/image/kakao_login.png" width="550px">
            </a>
        </div>
    </div>
</div>
</body>
</html>