<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/html">
<div th:replace="import::head"></div>
<body>
<div th:replace="header::div"></div>
    <div class="flex flex-col items-center justify-start h-screen overflow-y-auto mt-20">
        <div class="w-[600px]" id="mypage">
            <div class="mx-4 text-xl font-bold">마이페이지</div>
            <!-- 내 정보 : 이름 이메일 -->
            <div class="flex justify-center m-8">
                <div class="flex flex-col items-center m-8">
                    <div class="text-xl font-bold">{{ username }}</div>
                    <button class="rounded-full bg-black text-xs text-white p-2 m-4">프로필 보기</button>
                </div>
            </div>
            <div class="w-full h-[8px] bg-[#F5F6F8]"></div>
            <!--  판매내역 - 페이지이동 -->
            <button class="w-full h-[60px] px-6 hover:bg-gray-100" @click="moveToSaleList()">
                <div>
                    <div class="flex flex-row">
                        <img src="https://kr.object.ncloudstorage.com/s3bucket/sell.png" class="object-fill w-[20px] h-[20px]">
                        <span class="text-base font-semibold ml-[20px]">판매내역</span>
                        <img src="https://kr.object.ncloudstorage.com/s3bucket/arrow_right.png" class="ml-[440px] mt-1 w-[6px] h-[10px]">
                    </div>
                </div>
            </button>
            <!--  입찰내역 - 페이지이동 -->
            <button class="w-full h-[60px] px-6 hover:bg-gray-100" @click="moveToBidList()">
                <div>
                    <div class="flex flex-row">
                        <img src="https://kr.object.ncloudstorage.com/s3bucket/bag.png" class="object-fill w-[20px] h-[20px]">
                        <span class="text-base font-semibold ml-[20px]">입찰내역</span>
                        <img src="https://kr.object.ncloudstorage.com/s3bucket/arrow_right.png" class="ml-[440px] mt-1 w-[6px] h-[10px]">
                    </div>
                </div>
            </button>
            <!--  관심상품 - 페이지이동 -->
            <button class="w-full h-[60px] px-6 hover:bg-gray-100" @click="moveToLikeList()">
                <div>
                    <div class="flex flex-row">
                        <img src="https://kr.object.ncloudstorage.com/s3bucket/heart_black_blank.png" class="object-fill w-[20px] h-[20px]">
                        <span class="text-base font-semibold ml-[20px]">관심상품</span>
                        <img src="https://kr.object.ncloudstorage.com/s3bucket/arrow_right.png" class="ml-[440px] mt-1 w-[6px] h-[10px]">
                    </div>
                </div>
            </button>
            <div class="w-full h-[8px] bg-[#F5F6F8]"></div>
            <div class="flex justify-center mt-20">
                <form method="post" action="/logout">
                    <button type="submit">로그아웃</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        new Vue({
            el: '#mypage',
            data: {
                username: '',
            },
            created() {
                this.username = localStorage.getItem('username');
            },
            methods: {
                moveToSaleList() {
                    window.location.href = window.location.protocol + "//" + window.location.host + "/item/sale-list"
                },
                moveToBidList() {
                    window.location.href = window.location.protocol + "//" + window.location.host + "/item/bid-list"
                },
                moveToLikeList() {
                    window.location.href = window.location.protocol + "//" + window.location.host + "/item/heart-list"
                },
            }
        })
    </script>
</body>
</html>